@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3d365c;
  --color-secondary: #7c4585;
  --color-btn-color: #f8b55f;
  --color-base-100: #f8f5f8;
  --color-accent: #706f6f;
}
/* @plugin "flowbite/plugin"; */
/* * {
  font-family: "Cinzel", serif;
}  */

.nav-link-hover {
  position: relative;
  text-decoration: none;
}

.nav-link-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #A37854;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link-active {
  font-weight: bold;
  color: #A37854; 
}

.nav-link-active::after {
  content: '';
  position: absolute;
  width: 50%; 
  height: 2px;
  bottom: -5px; 
  left: 50%; 
  transform: translateX(-50%) scaleX(1); 
  background-color: #A37854;
  transition: transform 0.3s ease-out;
}

/* Optional: Add a slight transition for the font-weight change */
.nav-link-hover,
.nav-link-active {
  transition: font-weight 0.2s ease-in-out;
}