@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3d365c;
  --color-secondary: #7c4585;
  --color-btn-color: #f8b55f;
  --color-base-100: #f8f5f8;
  --color-accent: #706f6f;
}
/* @plugin "flowbite/plugin"; */
/* * {
  font-family: "Cinzel", serif;
}  */